section.container-three
  .block-two
    .block-two-title
      h3 FEATURE
      h2 We have best feature in Shoes
    .block-blocks
        +card('../images/Quality.svg','Quality','Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul')
        +card('../images/Flexible.svg','Flexible','Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul')
        +card('../images/Lasting.svg','Long Lasting','Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul')