footer.footer
  .footer-container
    .footer-container-up
      .footer-container-up-location
        .footer-logo
          img(src='images/puma-logo.svg' alt='')
        .footer-adress
          p 10 New Town Street, V2 5NW, Newstate, USA.
        .footer-email
          a(href='mailto:shovasatkhira88@gmail.com') shovasatkhira88@gmail.com
        .footer-social
          img(src='images/social.svg' alt='')
      .footer-container-up-sersup
        h5 Our services
        p About us
        p Feature
        p Gallary
      .footer-container-up-sersup
        h5 Support
        p Privacy & Policy
        p Terms & Condition
        p Support System
      .footer-container-up-contacts
        h5 Contact us
        p Lorem ipsum dolor sit amet consectetur adipiscin.
        form(action='index.html' method='get')
          .footer__forma
            input.footer__forma__input-email(type='email' name='email' placeholder='Mail address' required='required')
            .call
              button.footer__forma__input-btn(type='submit') Send
    .footer-container-down
      p Copyright 2021 The PUMA All Rights Reserved.