section.container-email
  .block-email
    .block-blocks-email
      .puma-photo
      .puma-text
        h2 Sign up to our Newsletter
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu sagittis, Atiam lorem sed justo amet viverra in a.
        .puma-email
          form(action='index.html', method='get')
            .forma
              input.forma__input-email(type='email', name='email', placeholder='Enter your email address', required)
              .call
                button.forma__input-btn(type='submit') Send