section.container-two
  .block
    .block__one-left
      .block__one-left-text
        h3 VIDEO
        h2 Desire the feel of satisfaction.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices commauris risus.
    .block__one-right
      img(src='images/dev.svg' alt='')
      button.playbtn(type='button' onclick="location.href= 'index.html'")
        img(src='images/playVideo.svg' alt='')