extends ../layouts/base

block variables 
    - var titlepage = 'Puma'
block header 
    include ../blocks/header
block main
    include ../blocks/video
    include ../blocks/feature
    include ../blocks/gallary
    include ../blocks/testimonials
    include ../blocks/pumaEmail
block footer
    include ../blocks/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="/js/vendors.js")
    script(src="/js/main.js")
    
